*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-image: url('../img/fundo.jpg');
    background-size: auto 100vh;
    font-family: Arial;
    height: 100vh;
    font-size: 12px;
}

/*Se a tela tiver pelo menos 400px vai carregar estes estilos*/
@media (min-width: 400px) {
  body{
    font-size: 14px;
  }
}

/*Se a tela tiver pelo menos 600px vai carregar estes estilos*/
@media (min-width: 600px) {
  body{
    font-size: 18px;
  }
}

header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}    
    
  .menu{
      background-color: grey;
      position: fixed;
      width: 100vw;
      top: 0px;
  }
  
  .menu a{
    /*background-color: gray;*/
    display: block;
    padding: 10px 20px;
  }

  .menu ul{
    display: flex;
    justify-content: space-around;
  }
  
  .menu li{
    list-style: none;
  }
  
  a{
    color: black;
    text-decoration: none;
  }
  
  a:hover{
    text-decoration: currentColor;
    text-decoration-color: darkblue;
  }
  
  .site-subtitle,
  .site-title{
    color: rgb(38, 49, 150);
    text-align: center;
  }
  
  .site-title{
    font-size: 4em;
    font-family: 'Bad Script', cursive;
  }

  .site-subtitle{
    font-family: 'Overpass', sans-serif;
    line-height: 1.8em;
  }
  
  portfolio h2 {
    font-family: 'Work Sans', sans-serif;
  }

  .img-portfolio{
    height: 180px;
    width: 180px;
  }